input.button {
    margin: 0 auto;
    display: inline-block;
    width: 4rem;
}
button {
  background-color: gray;
  border: none;
  color: white;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 4px;
  cursor: pointer;
  line-height: 2.33;
  border-radius: 350px;
}
