nav {
  background-color: #121619;
  a {
    font-size: 16px;
    font-family: "Roboto";
    color: white;
     img {
      margin-left: 80px;
      width: 30%;
    }
  }
}

nav a:hover {
  color: $FuzzyWuzzy;
}

#Platino nav {
  background-color: $Platinum;
}

#Platino .navbar-toggler-icon {
  color: $white;
}
