/*  encabezado y email */
h1 {
  font-family:$playfair;
  font-weight: $bold;
  font-style: italic;
}
#Descripcion p {
  @include letras;
  color: $Eerieblack;

}
#Descripcion small {
  @include letras;
  color: $Spanishpink;//
}
#Naomi p {
  @include letras;
  color: $Eerieblack;

}

button{
  font-family: $Roboto;//
}

.navbar-nav small {/*menú barra nav negra*/
  @include letras;
  color: $Spanishpink;//
}
