h1, h2, h3 {
  font-family:$playfair;
  font-weight: bold;
  font-style: italic;
}
p {
  font-family: $Roboto;
  font-size: 16px;
  line-height: 3;
  color: $Eerieblack;
}
button{
  font-family: $Roboto;
}
