$playfair : 'Playfair Display', serif;
$roboto : 'Roboto';
$white: #fff;
$platinum: #e8e8e8;
$gray: #bababa;
$carmine: #e94f37;
$salmon: #ef7f6d;
$pink: #f7bfb6;
$black: #393e41;
$granite: #5d6163;
$silver: #818486;
$verdigris: #44bba4;
