@charset "UTF-8";
body {
  margin: 0;
}

img {
  max-width: 100%;
}

/*  encabezado y email */
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: italic;
}

#Descripcion p {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 3;
  color: #121619;
}

#Descripcion small {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 3;
  color: #ECBCBA;
}

#Naomi p {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 3;
  color: #121619;
}

button {
  font-family: "Roboto";
}

.navbar-nav small {
  /*menú barra nav negra*/
  font-family: "Roboto";
  font-size: 16px;
  line-height: 3;
  color: #ECBCBA;
}

body header {
  height: 100vh;
  /* 100% de viewport */
  background-image: url("../img/post-image.jpg");
  /*fondo*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: white;
}
body header div {
  position: absolute;
  top: 220px;
  left: -24px;
  width: 100%;
  font-style: italic;
}
body header div h1 {
  font-size: 72px;
}
body header div i {
  margin-top: 10rem;
}
@media (max-width: 576px) {
  body header {
    /*al reducir a pantalla sm*/
  }
  body header div {
    top: 280px;
    width: 50%;
    margin-left: 90px;
    font-style: italic;
  }
  body header div h1 {
    font-size: 40px;
    font-family: "Playfair Display", serif;
  }
  body header div i {
    margin-top: 10rem;
  }
}

/*Naomi - email*/
.email {
  color: #ECBCBA;
  font-size: 16px;
  font-family: "Roboto";
}

/* media query */
@media (max-width: 576px) {
  /*al reducir a pantalla sm*/
  #Naomi img {
    width: 50%;
    margin-left: 50px;
  }

  .email {
    margin-left: 20%;
  }
}
/*pagination*/
#Platino {
  justify-content: center;
  margin: auto;
}

.page-link {
  color: #121619;
}

/*pie de pagina logo*/
Footer {
  background-color: #121619;
  color: #fff;
}
Footer img {
  width: 10%;
}

nav {
  /*barra nav negra*/
  background-color: #121619;
}
nav a {
  color: #fff;
}
nav a img {
  /*tamaño y posicion de logo*/
  margin-left: 130px;
  width: 20%;
}
nav .navbar-nav {
  /*menú barra nav negra*/
  margin-left: 450px;
}
@media (max-width: 576px) {
  nav {
    /*al reducir a pantalla sm*/
  }
  nav a img {
    width: 30%;
    margin-left: 10px;
  }
}

/*al pasar el mouse cambia color*/
.main a.nav-link :hover {
  color: #D76C69;
}

/*barra nav platino*/
#Platino nav {
  background-color: #e8e8e8;
}

/* Description */
#Descripcion button {
  background-color: #6C6E70;
  border: none;
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 4px;
  line-height: 2.33;
  border-radius: 350px;
}

#Descripcion button:hover {
  /*al pasar el mouse cambia color*/
  background-color: #D1D1D1;
}

/*pagination*/
#Derecha {
  border: 2px solid #e8e8e8;
  padding: 10px;
  border-bottom-right-radius: 45px;
  border-top-right-radius: 45px;
}

#Izquierda {
  border: 2px solid #e8e8e8;
  padding: 10px;
  border-bottom-left-radius: 45px;
  border-top-left-radius: 45px;
}

.activa :hover {
  /*al pasar el mouse cambia color*/
  background-color: #6C6E70;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
