aside {
    width: 40rem;
    margin: 0 auto;
    h2, h3 {
        font-family: $playfair;
        color:white;
        text-align: center;
        font-size: 18px;
    }
    h2 {
        font-size:130px;
    }
    button {
      color: red;
    }
}
