nav {/*barra nav negra*/
  background-color: $Eerieblack;
  a {
    color: $white;
     img {/*tamaño y posicion de logo*/
      margin-left: 130px;
      width: 20%;
    }
  }
  nav.navbar-nav {
    margin-left: 10px;
  }
  @media (max-width: 576px) {/*al reducir a pantalla sm*/
    a img {
      width: 30%;
      margin-left: 10px;
    }
  }
}

.main a.nav-link  {
  :hover {
    color: $Rudypink;
  }
}
/*barra nav platino*/
#Platino nav {
  background-color: $Platinum;
}
