nav {/*barra nav negra*/
  background-color: $Eerieblack;
  a {
    color: $white;
     img {/*tamaño y posicion de logo*/
      margin-left: $xxxx-large;
      width: 20%;
    }
  }
  .navbar-nav {/*menú barra nav negra*/
    margin-left: 450px;
  }
  @media (max-width: 576px) {/*al reducir a pantalla sm*/
    a img {
      width: 30%;
      margin-left: 10px;
    }
  }
}
/* pseudo clase */
/*al pasar el mouse cambia color*/
.main a.nav-link  {
  :hover {
    color: $Rudypink;
  }
}
/*barra nav platino*/
#Platino nav {
  background-color: $Platinum;
}
